<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body class="light-mode">
    <div id="username-container">
        <input type="text" id="username-input" placeholder="Enter your name...">
        <button id="set-username-button">Set Name</button>
    </div>
    <div id="chat-container" style="display: none;">
        <div id="messages"></div>
        <input type="text" id="message-input" placeholder="Type a message...">
        <button id="send-button">Send</button>
        <input type="file" id="image-input">
        <button id="send-image-button">Send Image</button>
    </div>
    <br>
    <label for="modeToggle">Dark Mode:</label>
    <input type="checkbox" id="modeToggle">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.0/socket.io.js"></script>
    <script src="{{ url_for('static', filename='app.js') }}"></script>
</body>
</html>
